/* WelcomeStyle.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    text-align: center;
    margin: 10px 0;
    font-weight: normal;
}

.description {
    text-align: center;
    margin: 10px 0;
    width: 500px;
    color: #555555;
}
